<%content_for :style do %>
  <link href="../css/styles.css" rel="stylesheet">
<%end%>

<% content_for :nav do %>
<nav class="navbar navbar-fixed-top header">
  <div class="col-md-12">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Bookstore Web Site</a>
    </div>
  </div>
</nav>
<div class="navbar navbar-default" id="subnav">
  <div class="col-md-12">
    <div class="navbar-header">

      <a href="#" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-shopping-cart" style="color:#1111dd;"></span> Buying <small><i class="glyphicon glyphicon-chevron-down"></i></small></a>
      <ul class="nav dropdown-menu">
        <li><a href="buying"><i class="glyphicon glyphicon-shopping-cart" style="color:#1111dd;"></i> Buying</a></li>
        <li class="nav-divider"></li>
        <li><a href="selling"><i class="glyphicon glyphicon-bullhorn" style="color:#FFD829;"></i> Selling</a></li>
        <li class="nav-divider"></li>
        <li><a href="your_orders"><i class="glyphicon glyphicon-user" style="color:#6f5499;"></i> Your Orders</a></li>
        <li class="nav-divider"></li>
        <li><a href="view_offers"><i class="glyphicon glyphicon-inbox" style="color:#6f5499;"></i> View Offers</a></li>
        <li class="nav-divider"></li>
        <li><a href="#"><i class="glyphicon glyphicon-exclamation-sign" style="color:#dd1111;"></i> Logout</a></li>
      </ul>
    </div>
  </div>
</div>
<%end%>

<!--main-->
<div class="container" id="main">
   <div class="row" align="center">
     <div class="col-md-6 col-sm-8 col col-sm-offset-3">
      <div class="well">
        <h4>Search for books </br><span style="font-size:65%">Enter as much information as you can</span></h4>
        <form class="" action="buying_search.php" method="post">
          <div class="input-group" style="max-width:470px;">
            <input type="text" class="form-control" placeholder="ISBN" name="srchisbn" id="srchisbn">
            <input type="text" class="form-control" placeholder="Title" name="srchtitle" id="srchtitle">
            <input type="text" class="form-control" placeholder="Author" name="srchauth" id="srchauth">
            <button class="btn btn-default btn-primary" style="margin-top:10px;" type="submit"><i class="glyphicon glyphicon-search"></i> Search</button>
        </form>
      </div>
    </div>
     <h3>Recent Posts:</h3>
  </div>
</div>

<div class="row">
  <% @recent_books.each do |book| %>
  <div class="col-md-4 col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= book.title %></h3>
      </div>
      <div class="panel-body">
        <p>
          <img src="<%=book.thumbnail%>" class="img-thumbnail pull-right">
          <strong>Condition: </strong><%=book.condition%> </br>
          <strong>Authors: </strong><%= book.authors * ", " %></br>
          <strong>Price: </strong>$<%= book.price %></br>
        </p>
        <div class="clearfix"></div>
        <hr>
        <a href="#">Buy Book</a>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>
