<%content_for :style do %>
  <link href="../css/styles.css" rel="stylesheet">
<%end%>

<% content_for :nav do %>
<nav class="navbar navbar-fixed-top header">
  <div class="col-md-12">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Bookstore Web Site</a>
    </div>
  </div>
</nav>
<div class="navbar navbar-default" id="subnav">
  <div class="col-md-12">
    <div class="navbar-header">
      <a href="#" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-shopping-cart" style="color:#1111dd;"></span> Buying <small><i class="glyphicon glyphicon-chevron-down"></i></small></a>
      <ul class="nav dropdown-menu">
        <li><a href="/buying"><i class="glyphicon glyphicon-shopping-cart" style="color:#1111dd;"></i> Buying</a></li>
        <li class="nav-divider"></li>
        <li><a href="/selling"><i class="glyphicon glyphicon-bullhorn" style="color:#FFD829;"></i> Selling</a></li>
        <li class="nav-divider"></li>
        <li><a href="/sales"><i class="glyphicon glyphicon-tag" style="color:#6f5499;"></i> View Sales</a></li>
        <li class="nav-divider"></li>
        <li><a href="/offers"><i class="glyphicon glyphicon-inbox" style="color:#6f5499;"></i> View Offers</a></li>
        <li class="nav-divider"></li>
        <li><a href="https://websso.wwu.edu/cas/logout"><i class="glyphicon glyphicon-exclamation-sign" style="color:#dd1111;"></i> Logout</a></li>
      </ul>
      <p style="display:inline;">Logged in as: <span class="username"><%=defined?(@user) ? @user : "Guest" %></span></p>
    </div>
  </div>
</div>
<%end%>

<!--main-->
<div class="container" id="main">
  <div class="row text-center">
      <h1>Search Results: </h1>
    <% @posts.each_with_index do |post, i| %>
      <% book = Book.find(post.book_id) %>
    <div class="col-md-6 col-sm-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><%= book.title %><%= post.verified_book ? " <img alt='Verified isbn via Google Play Books' src='images/verified.png' height='20' width='20' />" : " <img alt='Book could not be verified via Google Play Books' src='images/not_verified.png' height='20' width='20' />" %></h3>
        </div>
        <div class="panel-body">
          <p>
            <% if !book.thumbnail.nil? then %>
              <img src="<%= book.thumbnail%>" class="img-thumbnail pull-right">
            <%else %>
              <img src="/images/no_image_available.jpg" class="img-thumbnail pull-right">
            <% end %>
            <strong>Isbn: </strong><%= Book.find(post.book_id).isbn %></br>
            <strong>Authors: </strong><%= @authors[i].join(", ") %></br>
            <strong>Condition: </strong><%= post.condition.capitalize! %></br>
            <strong>Price: </strong>$<%= session[:price] %></br>
          </p>
          <div class="clearfix"></div>
          <hr>
          <a href='/offer/<%= "#{post._id}" %>'>Buy Book</a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
