<%content_for :style do %>
  <link href="../css/styles.css" rel="stylesheet">
<%end%>

<% content_for :nav do %>
<nav class="navbar navbar-fixed-top header">
  <div class="col-md-12">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Bookstore Web Site</a>
    </div>
  </div>
</nav>
<div class="navbar navbar-default" id="subnav">
  <div class="col-md-12">
    <div class="navbar-header">

      <a href="#" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-inbox" style="color:#6f5499;"></span> View Sales <small><i class="glyphicon glyphicon-chevron-down"></i></small></a>
      <ul class="nav dropdown-menu">
        <li><a href="/buying"><i class="glyphicon glyphicon-shopping-cart" style="color:#1111dd;"></i> Buying</a></li>
        <li class="nav-divider"></li>
        <li><a href="/selling"><i class="glyphicon glyphicon-bullhorn" style="color:#FFD829;"></i> Selling</a></li>
        <li class="nav-divider"></li>
        <li><a href="/sales"><i class="glyphicon glyphicon-tag" style="color:#6f5499;"></i> View Sales</a></li>
        <li class="nav-divider"></li>
        <li><a href="/offers"><i class="glyphicon glyphicon-inbox" style="color:#6f5499;"></i> View Offers</a></li>
        <li class="nav-divider"></li>
        <li><a href="https://websso.wwu.edu/cas/logout"><i class="glyphicon glyphicon-exclamation-sign" style="color:#dd1111;"></i> Logout</a></li>
      </ul>
      <%=defined?(@user) ? @user : "Guest" %>
    </div>
  </div>
</div>
<%end%>
<!--main-->
<div class="container" id="main">
   <div align="center">
     <div class="col-md-12">
     <h1>Your Sales:</h1>
     <% @posts.each_with_index do |post, i|%>
       <div class="panel panel-primary">
         <div class="panel-heading">
           <h3 class="panel-title"><%= Book.find(post.book_id).title %></h3>
         </div>
         <div class="panel-body">
           <p>
             <img src="<%=Book.find(post.book_id).thumbnail%>" class="img-thumbnail pull-left">
             <strong>List Date: </strong><%= post.created_at %></br>
             <strong>List Price: </strong>$<%= session[:price] %></br>
             <strong>Condition: </strong><%= post.condition.capitalize! %></br></br>
             <strong>Offers: </strong></br>
             <%= "<h4>No offers yet</h4>" if post.offers.length < 1 %>
             <% prices = post.offers.map(&:price) %>
             <% offer = post.offers.map(&:_id) %>
             <% buyers = post.offers.map(&:buyer) %>
             <% prices.each_with_index do |p, i| %>
              <a <%= "href='/offer/accept/#{post.offers[i]._id}'"%>><button  class="btn-success">Accept</button></a> $<%= p %> - offered on <%=post.offers[i].created_at %>
              <a <%= "href='/offer/decline/#{post.offers[i]._id}'"%>><button  class="btn-danger">Decline</button></a></br></br>
             <% end %>
           </p>
         </div>
     </div>
     <% end %>
   </div>
 </div>
</div>
