<%content_for :style do %>
  <link href="../css/styles.css" rel="stylesheet">
<%end%>

<% content_for :nav do %>
<nav class="navbar navbar-fixed-top header">
  <div class="col-md-12">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Bookstore Web Site</a>
    </div>
  </div>
</nav>
<div class="navbar navbar-default" id="subnav">
  <div class="col-md-12">
    <div class="navbar-header">
      <a href="#" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-inbox" style="color:#6f5499;"></span> View Sales <small><i class="glyphicon glyphicon-chevron-down"></i></small></a>
      <ul class="nav dropdown-menu">
        <li><a href="/buying"><i class="glyphicon glyphicon-shopping-cart" style="color:#1111dd;"></i> Buying</a></li>
        <li class="nav-divider"></li>
        <li><a href="/selling"><i class="glyphicon glyphicon-bullhorn" style="color:#FFD829;"></i> Selling</a></li>
        <li class="nav-divider"></li>
        <li><a href="/sales"><i class="glyphicon glyphicon-tag" style="color:#6f5499;"></i> View Sales</a></li>
        <li class="nav-divider"></li>
        <li><a href="/offers"><i class="glyphicon glyphicon-inbox" style="color:#6f5499;"></i> View Offers</a></li>
        <li class="nav-divider"></li>
        <li><a href="https://websso.wwu.edu/cas/logout"><i class="glyphicon glyphicon-exclamation-sign" style="color:#dd1111;"></i> Logout</a></li>
      </ul>
        <p style="display:inline;">Logged in as: <span class="username"><%=defined?(@user) ? @user : "Guest" %></span></p>
    </div>
  </div>
</div>
<%end%>
<!--main-->
<div class="container" id="main">
   <div align="center">
     <div class="col-md-12">
     <%= "<h1>Your Meetings:</h1>" if @meetings.length > 0 %>
      <% @meetings.each_with_index do |meeting, i|%>
      <% book = Book.get(meeting.book_id) %>
      <% offer = Offer.get(meeting.offer_id) %>
       <div class="panel panel-primary">
         <div class="panel-heading">
           <h3 class="panel-title"><%= "Your proposal for the sale of " + book.title %></h3>
         </div>
         <div class="panel-body">
           <p>
             <img src="<%=book.thumbnail%>" class="img-thumbnail pull-left">
             <strong>Status: </strong> <span class="status_msg <%=@messages[i].downcase! %>"><%=@messages[i].capitalize %></span></br></br></br>
             <strong>Meeting Location: </strong> <%= meeting.location %></br>
             <strong>Meeting Date: </strong> <%= meeting.date %></br>
             <strong>Meeting Time: </strong> <%= meeting.time %></br>
             <strong>Sale price: </strong> $<%= offer.price %>.00</br></br>
           </p>
         </div>
     </div>
     <% end %>
     <% if @posts.length > 0 %><h1>Your Sales:</h1><% end %>
     <% if @posts.length < 1 %><h1>You haven't put any books up for sale yet.</h1>
     <a href="/selling">Sell textbooks</a><% end %>
     <% @posts.each_with_index do |post, i|%>
      <% book = Book.get(post.book_id) %>
       <div class="panel panel-primary">
         <div class="panel-heading">
           <h3 class="panel-title text-center"><%= book.title %><%= post.verified_book ? " <img alt='Verified isbn via Google Play Books' src='images/verified.png' height='20' width='20' />" : " <img alt='Book could not be verified via Google Play Books' src='images/not_verified.png' height='20' width='20' />" %></h3>
         </div>
         <div class="panel-body">
           <p>
             <% if !book.thumbnail.nil? then %>
               <img src="<%= book.thumbnail%>" class="img-thumbnail pull-right">
             <%else %>
               <img src="images/no_image_available.jpg" class="img-thumbnail pull-right">
             <% end %>
             <strong>List Date: </strong><%= post.created_at.strftime('%m/%d/%Y at %l:%M %p') %></br>
             <strong>List Price: </strong>$<%= post.price %>.00</br>
             <strong>Condition: </strong><%= post.condition.capitalize! %></br></br>
             <strong>Offers: </strong></br>
             <% prices = post.offers.map(&:price) %>
             <% offer = post.offers.map(&:id) %>
             <% buyers = post.offers.map(&:buyer) %>
             <% count = 0 %>
             <% prices.each_with_index do |p, i| %>
               <% if post.offers[i].active %>
                <% count = count + 1 %>
<<<<<<< HEAD
                <p>
                  <a <%= "href='/offer/decline/#{post.offers[i].id}'"%>><button  class="btn-danger">Decline</button>
                  </a> <strong>$<%= p %>.00</strong> - offered on <%= post.offers[i].created_at.strftime('%m/%d/%Y') %>
                  <a <%= "href='/offer/accept/#{post.offers[i].id}'"%>><button  class="btn-success">Accept</button></a></br>
                </p>
=======
                <a <%= "href='/offer/decline/#{post.offers[i].id}'"%>><button  class="btn-danger">Decline</button></a> $<%= p %> - offered on <%=post.offers[i].created_at %>
                <a <%= "href='/offer/accept/#{post.offers[i].id}'"%>><button  class="btn-success">Accept</button></a></br>

>>>>>>> 437543a36c3ca8d16e38610d08027093b2aefb71
              <% end %>
             <% end %>
             <%= "No offers yet" unless count > 0 %>
           </p>
         </div>
     </div>
     <% end %>
   </div>
 </div>
</div>
